{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale="1">
    <title>Googel Earth Engine UI</title>
    <link rel="icon" type="image/png" href="{% static "img/fav.png" %}">
    <link href = "{% static "css/mystyle.css" %}" rel="stylesheet" type="text/css">
    <link href = "{% static "css/dropzone.css" %}" rel="stylesheet" type="text/css">
    <!-- jqquery cdn  -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- ------------ bootstrap ------------  -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    
    {% comment %} ---------- drag drop -----------  {% endcomment %}
    <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

    {% comment %} ------- leaflet -------------  {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">
   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <link rel="stylesheet" href="{% static "css/layout.css" %}">
</head>
<body>
  <div id="a-container">
    <div class="ui-layout-west">
      <div class='row'>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="false">Import</a>
            <a class="nav-item nav-link" id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" aria-selected="false" onclick="draw()">Draw</a>
          </div>
        </nav>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
          <div class="col-md-12">
          <form id="formdata" method="post" enctype="multipart/form-data" action="">
            <center>
              <h2 class="m-3">Google Earth Engine</h2>
            </center>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="indicator" class="select">Graphical Indicator</label>
                  <select name="indicator" id="indicator" required="required" class="form-control inline">
                    <option value="ndvi">NDVI</option>
                    <option value="ndbi">NDBI</option>
                    <option value="ndwi">NDWI</option>
                    <option value="hillshade">Hillshade</option>
                    <option value="slope">Slope</option>
                    <option value="aspect">Aspect</option>
                    <option value="lulc">Land Use Land cover</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="from_date">Start Date</label>
                  <input id="from_date" name="from_date" type="date" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="end_date">End Date</label>
                  <input id="end_date" name="end_date" type="date" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="import_file">Upload Geojson File</label>
                  <input id="import_file" name="import_file" type="file" class="form-control-file">
                </div>
              </div>
            </div>
            <br><br>
            <center><button id="sub" type="submit" class="btn btn-primary">Add Layer</button></center>
            <br>
          </form>
        </div>
          </div>
            <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
             <h4>Use Draw buttons to draw region of interest</h4>
          </div>
    </div>
    </div>
    <div class="ui-layout-center">
      <div id="mapid"></div>
    </div>
  </div>
    
       
    </div>
    <!-- --------- javascript ----------  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js"></script>
    <script src={% static "js/jquery-ui.min.js" %}></script>
    <script src={% static "js/layout.js" %}></script>
    <script src={% static "js/dropzone.js" %}></script>
    <script>
      var province;
      var mymap = L.map('mapid').setView([28.194081, 84.176445], 11);
      var basemap = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoibG9zdGIxIiwiYSI6ImNqaTBjcGd4bjE2cGMza3M2MWEzcTRwd3gifQ.Ps6yKHol2bmEPndMSeYKKw'
      }).addTo(mymap);
      var ndvi = L.tileLayer('{{ ndvi }}').addTo(mymap);
      var Evi = L.tileLayer('{{ Evi }}').addTo(mymap);
      var ndbi = L.tileLayer('{{ ndbi }}').addTo(mymap);
      var ndwi = L.tileLayer('{{ ndwi }}').addTo(mymap);
      var forestchange = L.tileLayer('{{ forestchange }}').addTo(mymap);
      $('#province').on('change', function(){
        clearMap()
        mymap.addLayer(basemap);
        province = $(this).val();
        handleAjax('FIRST_STAT', province);
      })

  function clearMap(){
        mymap.eachLayer(function (layer) {
        mymap.removeLayer(layer);
      });
    }   

    var baseMaps1 = {
        "OSM" :basemap,
      };
      var RenderedMap = {
          "ndvi 2019 Jan-April":ndvi,
          "Evi":Evi,
          "ndbi 2019":ndbi,
          'ndwi 2019':ndwi,
          'forest Change 2000-2019':forestchange,
      };
      var mylayer = L.control.layers(baseMaps1, RenderedMap).addTo(mymap);

var drawnItems;
function draw(){
    if(drawnItems==undefined){
        drawnItems = new L.FeatureGroup();
        mymap.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            // position: 'topright',
            draw: {
                polygon:  {
                    shapeOptions: {
                     color: 'red'
                    },
                   },
                polyline: false,
                rect: {
                shapeOptions: {
                color: 'green'
                },
                },
                circle: false,
                circlemarker: false,
                marker: false
            },
                edit: {
                    featureGroup: drawnItems,
                    edit: false
                }
            });
        mymap.addControl(drawControl);
        mymap.on('draw:created', function (e) {
                    drawnItems.addLayer(e.layer);
                });
        mymap.on(L.Draw.Event.CREATED, function (e) {
            var layer = e.layer;
        mymap.addLayer(layer);
        });
    }else{return;}
}
      $(document).ready(function () {
            $('#a-container').layout({
              west__size: .25,
          });
        });

    </script>
</body>
</html>